@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}
body {
  background-color: black;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  background: url(./assests/bg-img.jpg);
  background-size: max(1200px, 100vw);
  height: calc(650px);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.main .box {
  opacity: 0.69;
  height: 650px;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  position: relative;
  margin: auto;
  padding-top: 20px;
}
.logo img {
  position: relative;
  z-index: 10;
}
.btn {
  position: relative;
  z-index: 10;
}
.lightbtn {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(92, 84, 84);
  padding: 6px 35px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bolder;
}
.sm-redbtn {
  background-color: red;
  color: white;
  padding: 6px 17px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.lightbtn:hover {
  background-color: rgb(98, 93, 93);
}
.sm-redbtn:hover {
  background-color: rgb(225, 95, 95);
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding-top: 200px;
}
.hero > :first-child {
  font-size: 50px;
  font-weight: bolder;
}
.hero > :nth-child(2) {
  font-size: 20px;
  font-weight: 430;
}
.hero > :nth-child(3) {
  font-size: 15px;
}
.hero button {
  background-color: red;
  color: white;
  border: none;
  font-weight: bolder;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
}
.hero button:hover {
  background-color: rgb(231, 47, 47);
}
.hero input {
  height: 45px;
  padding-left: 15px;
  background-color: transparent;
  border: 1px solid rgb(92, 84, 84);
  width: 300px;
  color: white;
  border-radius: 4px;
}
::placeholder {
  color: white;
}
.separation {
  height: 6px;
  background-color: rgb(48, 45, 45);
}

.first {
  display: flex;
  margin: auto;
  flex-direction: row;
  max-width: 70vw;
  position: relative;
  gap: 100px;
}
.text {
  color: white;
  position: relative;
  top: 120px;
}
.text > :nth-child(1) {
  font-size: 46px;
  font-weight: bolder;
}
.text > :nth-child(2) {
  font-size: 20px;
}
.secimg img {
  position: relative;
  width: 555px;
}
.secimg video {
  position: relative;
  left: 69px;
  bottom: 373px;
  z-index: -1;
}
section {
  height: 460px;
}

.faq  h1{
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}
.faqbox{
  transition: all 1s ease-in-out;  
  width: 60vw;
  height: 75px;
  background-color: rgb(49, 47, 47);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.faqbox h2{
  
  margin-left: 20px;
font-weight: lighter;

}
.faqbox:hover{
  background-color: rgb(94, 90, 90);
}
.faq svg{
  filter: invert(1);
  padding-right: 20px;
}
.faqcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.faqsection{

  height: 600px;

}
footer{
  height: 400px;
}
.links{
  
  display: flex;
  
  gap: 100px;
}
.link{
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;

}
small{
 display: block;
 margin-bottom: 40px;
 font-size: medium;
}
.text3rd > :nth-child(1) {
  font-size: 40px;
}
.text2nd > :nth-child(1) {
  font-size: 34px;
}
.text4th > :nth-child(1) {
  font-size: 33px;
}
@media screen and (max-width: 1300px) {
  .hero {
    padding-top: 100px;
  }
  .hero > :first-child {
    font-size: 10vh;
    text-align: center;
  }
  .hero > :nth-child(2) {
    font-size: 20px;
    font-weight: 430;
    text-align: center;
  }
  .hero > :nth-child(3) {
    font-size: 15px;
    text-align: center;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
  }
  .logo img {
    width: 100px;
    padding-left: 29px;
  }
  .btn {
    display: flex;
  }
  .lightbtn {
    padding: 4px 20px;
    font-size: 10px;
  }
  .sm-redbtn {
    padding: 4px 15px;
    font-size: 10px;
  }
  .input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hero button {
    padding: 8px 18px;
    font-size: 15px;
  }

  .hero input {
    height: 40px;
    width: 230px;
  }
  .first {
    flex-wrap: wrap;
    max-width: 60vw;
    display: flex;
    gap: 0px;
  }
  .text {
    top: 0px;
    /* width: 65vw; */
  }
  .text > :nth-child(1) {
    font-size: 40px;
  }
  .text > :nth-child(2) {
    font-size: 20px;
  }
  .secimg vide0 {
    /* width: 300px; */
  }
  section {
    height: min-content;
  }
}
